/*FONTS*/
/* rubik-regular - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik-v9-cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v9-cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik-v9-cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v9-cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik-v9-cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v9-cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/latosemibold.woff2") format("woff2"), url("../fonts/latosemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*VARIABLES*/
/*COLORS*/
/*GRID*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #1A212F;
}

a {
  text-decoration: none;
  color: #1A212F;
}

.main {
  margin-top: 76px;
  overflow: hidden;
}

.wrapper, .wrapper_full {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  position: relative;
  padding: 0 98px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 45px;
  }
}

.bg-paw {
  position: absolute;
  width: 367px;
  height: 314px;
  background: url("../img/svg/paw-bg.svg") no-repeat;
}

.bg-fish {
  position: absolute;
  width: 484px;
  height: 151px;
  background: url("../img/svg/fish-bg.svg") no-repeat;
}

.title {
  font-family: Rubik;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
}

.title_big {
  font-size: 56px;
  line-height: 66px;
}

/* TOOLITPS */
.tooltip {
  display: block;
  position: absolute;
  width: 126px;
  bottom: 30px;
  left: 50%;
  margin-left: -63px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #FAC663;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.tooltip__container {
  position: relative;
}

.tooltip__container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

.tooltip:before, .tooltip:after {
  content: '';
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -4px;
  border: 8px solid transparent;
  border-top: 8px solid #FAC663;
}

.tooltip:after {
  border-top: 8px solid #fff;
  bottom: -16px;
}

/* SELECT */
.select {
  font-size: 14px;
  cursor: pointer;
  /* delete html select if css is ready */
  /* display drop-down select */
  /* image to the left of the text */
}

.select_no-js {
  display: none;
  visibility: hidden;
}

.select__container {
  position: absolute;
  top: 0;
  right: 98px;
  z-index: 10;
  margin-bottom: 35px;
  width: 174px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
  background-color: #fff;
  /* arrow to down on the right */
}

.select__container:after {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 14px;
  height: 8px;
  background: url("../img/svg/arrow-drop-down.svg") no-repeat;
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
}

.select__option {
  display: none;
  overflow: hidden;
  padding: 12px 0;
  padding-left: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  /* display if drop-down select hidden */
}

.select__option_active {
  display: block;
}

.select__option:first-child {
  border-radius: 25px 25px 0 0;
}

.select__option:last-child {
  border-radius: 0 0 25px 25px;
}

.select__option:nth-child(n + 2):hover {
  background-color: #FAC663;
}

.select__container_checked .select__option {
  display: block;
}

.select__icon {
  margin-top: -2px;
  padding-right: 5px;
}

/* CHECBOX */
.checkbox {
  display: none;
}

.checkbox__label {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.checkbox__label:before {
  content: '';
  position: absolute;
  left: -30px;
  top: -2px;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid #E1E1E1;
  background-position: center center;
  -webkit-transition: .15s;
  transition: .15s;
}

.checkbox:checked + .checkbox__label:before {
  background: url("../img/svg/checkbox-checked.svg") no-repeat center center;
  color: red;
}

.checkbox:hover + .checkbox__label:before {
  -webkit-box-shadow: inset 0px 0px 5px #fac663;
          box-shadow: inset 0px 0px 5px #fac663;
}

.checkbox:active + .checkbox__label:before {
  -webkit-box-shadow: inset 0px 0px 15px #fac663;
          box-shadow: inset 0px 0px 15px #fac663;
}

/* BUTTON */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.button {
  width: 206px;
  height: 50px;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
          box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  position: relative;
}

.button:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.button__text {
  position: absolute;
  top: 14px;
  left: 30px;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.button_white {
  background: url("../img/svg/paw-icon-white.svg") no-repeat;
  background-color: #fff;
  background-position: 163px center;
}

.button_orange {
  background: url("../img/svg/paw-icon-orange.svg") no-repeat;
  background-color: #FF7236;
  background-position: 163px center;
  color: #FFFEFD;
}

.button__filter {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 185px;
  height: 42px;
  border: 2px solid #FAC663;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

/* CARD */
.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
}

.card__title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__text {
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 15px;
  }
}

.card__list-item {
  margin-bottom: 14px;
}

.card__list-item:last-child {
  margin-bottom: 27px;
}

@media screen and (max-width: 768px) {
  .card__list-item {
    margin-bottom: 8px;
  }
}

/* Maybe I should replace LIST to a independent block */
.list__item {
  padding-left: 21px;
  position: relative;
}

.list__item::before {
  content: '';
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #FAC663;
  position: absolute;
  top: calc(50% - 6.5px);
  left: 0;
}

/* SLIDER */
.slider {
  max-width: 1030px;
  margin: 0 auto;
}

.slider__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .slider__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__indicators {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider__indicator {
  height: 12px;
  width: 12px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #E1E1E1;
  cursor: pointer;
}

.slider__indicator_active {
  background-color: #FAC663;
}

.slider__indicator:last-child {
  margin-right: 0;
}

.slider__indicator:hover {
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
  opacity: .75;
}

.slider__nav-buttons {
  margin-left: 400px;
}

@media screen and (max-width: 768px) {
  .slider__nav-buttons {
    display: none;
  }
}

.slider__nav-button {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 0;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider__nav-button:hover {
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
}

.slider__nav-button:last-child {
  margin-right: 0;
}

.slide__card {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 34px 100px;
  margin: 60px 0;
}

@media screen and (max-width: 960px) {
  .slide__card {
    padding: 35px 40px;
  }
}

@media screen and (max-width: 768px) {
  .slide__card {
    margin: 30px 0;
  }
}

.slide__img {
  max-width: 600px;
  max-height: 404px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .slide__img {
    width: 442px;
    height: 324px;
  }
}

.slide__tariff {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .slide__tariff {
    margin-bottom: 14px;
  }
}

/*HEADER*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;
}

.header__wrapper, .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.header__menu, .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.menu__item {
  margin-right: 5px;
  height: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: block;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  line-height: 19px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__link:hover {
  background-color: #FF7236;
  color: #fff;
}

.copyright {
  border-top: 1px solid #EFEFEF;
  padding: 10px 0;
}

.copyright-text {
  font-size: 12px;
  line-height: 14px;
  color: #8F8F8F;
}

/* INTRO */
.intro {
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .intro {
    text-align: center;
    margin-bottom: 120px;
  }
}

.intro__wrapper {
  width: 100%;
  padding-top: 150px;
  padding-left: 198px;
  margin: 0 auto;
  background: url("../img/intro-bg.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .intro__wrapper {
    background: url("../img/svg/intro-vector-bg.svg"), url("../img/adaptive-intro-bg.jpg");
    background-position: -120px -540px, 0 0;
    background-repeat: no-repeat;
    padding-left: 0;
    height: 868px;
    overflow: hidden;
    position: relative;
  }
}

.intro__city {
  font-size: 14px;
  line-height: 14px;
}

.intro__title {
  font-family: Rubik;
  font-weight: 700;
  font-size: 62px;
  line-height: 72px;
  margin-bottom: 5px;
}

.intro__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 36px;
}

.intro__button {
  margin-bottom: 153px;
}

/* ABOUT */
.about {
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 120px;
  }
}

.about-bg {
  top: 10px;
  right: 10%;
  z-index: -1;
  -webkit-transform: rotate(21deg);
          transform: rotate(21deg);
}

.about__title {
  text-align: center;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .about__title {
    margin-bottom: 60px;
  }
}

.about__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
}

@media screen and (max-width: 960px) {
  .about__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.about__card {
  padding: 30px;
  padding-right: 40px;
  max-width: 370px;
}

@media screen and (max-width: 768px) {
  .about__card {
    padding: 25px;
  }
}

.about__card-title {
  margin-bottom: 6px;
}

.about__card-pic {
  margin-bottom: 28px;
}

/* ROOMS */
.rooms {
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .rooms {
    margin-bottom: 120px;
  }
}

.rooms-bg {
  left: 0;
  top: 10px;
}

.rooms__title {
  text-align: center;
  margin-bottom: 70px;
}

/* REVIEW */
.review {
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .review {
    margin-bottom: 120px;
  }
}

.review-bg {
  right: -20px;
  top: -90px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.review__title {
  text-align: center;
  margin-bottom: 70px;
}

.review__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 470px;
  height: 206px;
  padding: 35px 35px 70px 70px;
  margin-right: 30px;
}

.review__card-1 {
  left: 500px;
}

.review__card-2 {
  left: 1000px;
}

.review__text {
  position: relative;
  font-size: 16px;
}

.review__text:before {
  content: '';
  display: block;
  width: 21px;
  height: 23px;
  background: url("/img/svg/quote-icon.svg") no-repeat;
  position: absolute;
  top: 2;
  left: -30px;
}

.review__author, .review__date {
  font-size: 14px;
  color: #848484;
}

.review__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.reviews {
  margin-bottom: 206px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* CONTACTS */
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contacts__title {
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .contacts__title {
    margin-bottom: 35px;
  }
}

.contacts__info {
  max-width: 568px;
  max-height: 580px;
  min-width: 369px;
  padding: 70px 100px 70px 198px;
  background-color: #FAC663;
}

@media screen and (max-width: 1365px) {
  .contacts__info {
    padding: 60px 45px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .contacts__info {
    padding: 60px 45px;
  }
}

.contacts__subtitle {
  margin-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

@media screen and (max-width: 960px) {
  .contacts__subtitle {
    margin-bottom: 5px;
  }
}

.contacts__text {
  margin-bottom: 30px;
  font-weight: normal;
  line-height: 19px;
}

@media screen and (max-width: 960px) {
  .contacts__text {
    margin-bottom: 25px;
  }
}

.contacts__link {
  display: block;
}

.contacts__map {
  position: relative;
  overflow: hidden;
}

.contacts-map {
  width: 100%;
  height: 100%;
}

.social-link {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 20px;
  border-radius: 50%;
}

.social-link-fb {
  background-image: url("/img/svg/social-fb-icon.svg");
}

.social-link-inst {
  background-image: url("/img/svg/social-inst-icon.svg");
}

.social-link-vk {
  background-image: url("/img/svg/social-vk-icon.svg");
}

/* CATALOG */
.catalog {
  margin-top: 70px;
  margin-bottom: 140px;
}

.catalog__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.catalog__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter {
  max-width: 210px;
  width: 100%;
}

.catalog__subtitle {
  margin-bottom: 20px;
}

.catalog__label {
  position: relative;
  margin-bottom: 25px;
}

.catalog__label:last-child {
  margin-bottom: 0;
}

.catalog__card-container {
  display: -ms-grid;
  display: grid;
  max-width: 870px;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.catalog__card {
  max-width: 270px;
}

.catalog__card-title {
  margin-left: 20px;
  margin-bottom: 20px;
}

.catalog__card-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.catalog__card-text {
  font-size: 14px;
  line-height: 17px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.catalog__button {
  display: block;
  margin: 35px 20px 25px;
}

.catalog__equip-icon {
  margin-left: 8px;
}

.filter__section {
  margin-bottom: 35px;
}

.label {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-field {
  position: relative;
}

.price-input {
  width: 100px;
  padding-left: 25px;
  border: 1px solid #E1E1E1;
}

.price-label {
  position: absolute;
  left: 5px;
  z-index: 2;
  line-height: 20px;
}

/* PROMO */
.promo {
  margin-bottom: 140px;
}

.promo-bg {
  position: absolute;
  top: -20px;
  left: 60px;
  background: url("../img/svg/paw-bg-secondary.svg");
  width: 241px;
  height: 206px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  scale: 0.65;
  z-index: 15;
}

.promo__container {
  width: 100%;
  background: url("../img/promo-bg.jpg") no-repeat;
  background-position: cover;
  border-radius: 10px;
}

.promo__content {
  padding-top: 78px;
  padding-right: auto;
  padding-left: 270px;
  padding-bottom: 78px;
}

.promo__title {
  margin-bottom: 25px;
}

.promo__text {
  margin-bottom: 35px;
}
/*# sourceMappingURL=main.css.map */