

/* GLOBAL STYLES START */









/* GLOBAL STYLES END */

/* HEADER STYLES START */


/* HEADER STYLES END */

/* INTRO STYLES START*/



/* INTRO STYLES END*/

/* ABOUT STYLES START*/


/* ABOUT STYLES END*/

/* ROOMS STYLES START*/

/* .rooms{
  margin-bottom: 140px;
  background: url('../img/svg/fish-bg.svg') no-repeat top left 100px;
}

.rooms__title{
  text-align: center;
  margin-bottom: 70px;
} */

/* .slider__slide{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 55px;
}

.slider__slide-button{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 12px;
  cursor: pointer;
}

.slider__slide-button:last-child{
  margin-right: 0;
}

.slider__slide-button_active{
  background-color: #FAC663;
}

.slider__card{
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  width: 500px;
  height: 284px;
  padding: 40px 100px;
  margin: 60px 0;
  position: absolute;
  top: 0;
  left: 530px;
  z-index: 2;
}

.slide__tariff{
  margin-bottom: 20px;
}

.list__item{
  font-family: Lato;
  line-height: 19px;
  padding-left: 21px;
  position: relative;
  margin-bottom: 14px;
}

.list__item::before{
  content: '';
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #FAC663;
  position: absolute;
  top: calc(50% - 6.5px);
  left: 0;
}

.list__item:last-child{
  margin-bottom: 27px;
} */

  /* SLIDER CONTROLS STYLES START */

/* .slider__control-panel{
  max-width: 1030px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

}

/* .slider__slide-buttons{
  margin-left: 555px;
} */

/* .slider__slide-button{
  display: inline-flex;
  transition: 0.2s;
}

.slider__slide-button:hover{
  box-shadow:  0px 2px 12px rgba(173, 152, 143, 0.5);
  opacity: .75;
}

.slider__nav-buttons{
  margin-left: 403px;
}

.slider__nav-button{
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  box-shadow:  0px 2px 12px rgba(173, 152, 143, 0.25);
  background-color: #fff;
  padding: 0;
  margin-right: 10px;
  transition: 0.2s;
}

.slider__nav-button:hover{
  box-shadow:  0px 2px 12px rgba(173, 152, 143, 0.5);
}

.slider__nav-button:last-child{
  margin-right: 0;
}

.slide-buttons-next{
  display: none;
} */

  /* SLIDER CONTROLS STYLES END */


/* ROOMS STYLES END*/
