.promo{
  margin-bottom: 140px;
  &-bg{
    position: absolute;
    top: -20px;
    left: 60px;
    background: url('../img/svg/paw-bg-secondary.svg');
    width: 241px;
    height: 206px;
    transform: rotate(-45deg);
    scale: 0.65;
    z-index: 1;

    @media screen and (max-width: 1030px) {
      top: -30px;
      left: 0;
    }
  }
  &__container{
    width: 100%;

    background: url('../img/promo-bg.jpg') no-repeat;
    background-position: center right;
    background-size: cover;
    border-radius: 10px;

    @media screen and (max-width: 480px) {
      background: url('../img/promo-bg-mobile.jpg') no-repeat;
      background-position: bottom right;
      background-size: cover;
      text-align: center;
    }
  }
  &__content{
    position: relative;

    padding-top: 78px;
    padding-right: auto;
    padding-left: 270px;
    padding-bottom: 78px;

    z-index: 2;

    @media screen and (max-width: 1280px) {
      padding-left: 180px;
      padding-top: 70px;
      padding-bottom: 70px;
    }

    @media screen and (max-width: 1030px) {
      padding-left: 50px;
    }

    @media screen and (max-width: 480px) {
      padding: 50px 25px 260px;
    }
  }
  &__title{
    margin-bottom: 25px;
    @media screen and (max-width: 480px){
      font-size: 24px;
      line-height: 28px;     
    }
    &_big{
      font-size: 56px;
      line-height: 66px;
      @media screen and (max-width: 480px){
        font-size: 37px;
        line-height: 44px;      
      }
    }
  }
  &__text{
    margin-bottom: 35px;
    @media screen and (max-width: 480px){
      font-size: 15px;        
    }
  }
}