html{
    box-sizing: border-box;
  }
  
  *, *::before, *::after{
    box-sizing: inherit;
  }

.main{
  overflow: hidden;
}

.wrapper, .wrapper_full{
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.wrapper{
  position: relative;
  padding: 0 98px;
}

.bg{
  &-paw{
    position: absolute;
    width: 367px;
    height: 314px;
    background:url('../img/svg/paw-bg.svg') no-repeat;
  }
  &-fish{
    position: absolute;
    width: 484px;
    height: 151px;
    background:url('../img/svg/fish-bg.svg') no-repeat;
  }
}

/* .wrapper{
    max-width: 1366px;
    padding: 0 98px;
    margin: 0 auto;

    &_full
    {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    }
  } */