html{
    box-sizing: border-box;
  }
  
  *, *::before, *::after{
    box-sizing: inherit;
  }

  body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #1A212F;
  }
  
  a{
    text-decoration: none;
    color: #1A212F;
  }

.container{
  &_blur{
    filter: blur(8px);
  }
}

.main{
  margin-top: 76px;
  overflow: hidden;
  @media screen and (max-width: 480px){
    margin-top: 62px;
  }

}

.wrapper, .wrapper_full{
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.wrapper{
  position: relative;
  padding: 0 98px;
  @media screen and(max-width: 768px){
    padding: 0 45px;
  }
  
  @media screen and (max-width: 668px){
    padding: 0 15px;
  }
}

.bg{
  &-paw{
    position: absolute;
    width: 367px;
    height: 314px;
    background:url('../img/svg/paw-bg.svg') no-repeat;
  }
  &-fish{
    position: absolute;
    width: 484px;
    height: 151px;
    background:url('../img/svg/fish-bg.svg') no-repeat;
  }
}

.title{
  font-family: Rubik;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.overflow-hidden{
  overflow: hidden;
}