.about{
  margin-bottom: 140px;
  position: relative;
  
  &:before{
    content: '';
    width: 367px;
    height: 314px;
    background: url('../img/svg/paw-bg.svg');
    transform: rotate(21deg);
    position: absolute;
    top: -80px;
    right: 10%;
    z-index: -1;
  }
  
  &__title{
    text-align: center;
    margin-bottom: 70px;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: 10px;
    row-gap: 20px;
  }
  &__card{
    padding: 30px;
    height: 321px;
    max-width: 370px;
  }
  &__card-title{
    margin-bottom: 6px;
  }
}
  
  
  