.about{
  margin-bottom: 140px;
  @media screen and (max-width: 768px){
    margin-bottom: 120px;
  }
  &-bg{
    top: 10px;
    right: 10%;
    z-index: -1;
    transform: rotate(21deg);
  }
  
  &__title{
    text-align: center;
    margin-bottom: 70px;
    @media screen and (max-width: 768px){
      margin-bottom: 60px;
    }
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: 10px;
    row-gap: 20px;
    @media screen and (max-width: 960px){
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  &__card{
    padding: 30px;
    padding-right: 40px;
    // height: auto;
    max-width: 370px;
    @media screen and (max-width: 768px){
      padding: 25px;
    }
  }
  &__card-title{
    margin-bottom: 6px;
    // @media screen and (max-width: 768px){
    //   padding-right: 40px;
    // }
  }
  &__card-pic{
    margin-bottom: 28px;
  }
}
  
  
  