.modal{
  display: none;
  visibility: hidden;
  &_active{
    display: block;
    visibility: visible;
  }

  &__booking, &__popup{
    margin-bottom: 50px;
  }

  &__container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 70px 15px;

    background-color: rgba(0, 0, 0, 0.35);
  }

  &__body{
    position: relative;
    text-align: center;

    max-width: 500px;
    margin: 0 auto;
    padding: 60px 30px;

    @media screen and (max-width: 380px){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__close{
    position: absolute;
    right: 25px;
    top: 25px;

    cursor: pointer;
  }

  &__title{
    margin-bottom: 50px;

    font-size: 28px;
    line-height: 120%;
    @media screen and (max-width: 568px) {
      font-size: 24px
    }
  }

  &__form{
    display: flex;
    flex-flow: column nowrap;
    
    font-family: Lato;
    line-height: 19px;
    font-size: 16px;
  }

  &__input{
    margin-bottom: 20px;
    padding: 10px 30px;

    font-family: Lato;
    line-height: 19px;
    font-size: 16px;

    border: 1px solid #D7D7D7;
    border-radius: 25px;

    &::placeholder{
      color: #1A212F;
      opacity: 1;
    }
  }

  &__date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &-text{
      white-space: nowrap;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    &-fieldset{
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      @media screen and (max-width: 360px) {
        margin-bottom: 0;
      }
    }
    &-label{
      white-space: nowrap;
    }
    &-input{
      margin: 0;
      padding-right: 0;
      padding-left: 20px;
      max-width: 150px;

      @media screen and (max-width: 360px) {
        max-width: 110px;
        margin-bottom: 20px;
      }
    }
  }

  &__button{
    max-width: 230px;
    width: 100%;
    align-self: center;
    margin-top: 30px;
  }
}

.popup{
  display: none;
  visibility: hidden;
  &_active{
    display: block;
    visibility: visible;
  }
  &__title{
    margin-bottom: 25px;
  }
  &__text{
    font-family: Lato;
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__button{
    margin-bottom: -20px;
  }
}