.select{
  font-size: 14px;

  cursor: pointer;
  /* delete html select if css is ready */
  &_no-js{
    display: none;
    visibility: hidden;
  }

  &__container{
    position: absolute;
    top: 0;
    right: 98px;
    z-index: 10;

    margin-bottom: 35px;
    width: 174px;

    border-radius: 25px;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
    background-color: #fff;
    
    /* arrow to down on the right */
    &:after{
      position: absolute;
      right: 20px;
      top: 20px;

      display: block;
      width: 14px;
      height: 8px;

      background: url('../img/svg/arrow-drop-down.svg') no-repeat;
      content: '';
    }
  }

  &__option{
    display: none;
    overflow: hidden;
    
    padding: 12px 0;
    padding-left: 20px;
    cursor: pointer;
    
    transition: .3s;

    /* display if drop-down select hidden */
    &_active{
      display: block;
    }
    &:first-child{
      border-radius: 25px 25px 0 0;
    }
    &:last-child{
      border-radius: 0 0 25px 25px;  
    }
    &:nth-child(n + 2):hover{
      background-color: $circle-active;
    }
  }
  
  /* display drop-down select */
  &__container_checked &__option{ 
    display: block;
  }
  
  /* image to the left of the text */
  &__icon{
    margin-top: -2px;
    padding-right: 5px;
  }
  
}