.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;
}
.header, .footer {
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  &__menu{
    display: flex;
    flex-wrap: wrap;
  }
}
  
  .menu {
  &__item{
    margin-right: 30px;
  }
  
  &__item:last-child{
    margin-right: 0;
  }
  
  &__link{
    font-weight: 600;
    line-height: 19px;
  }
}

.copyright{
  border-top: 1px solid #EFEFEF;
  padding: 10px 0;
  &-text{
    font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;
  }
}