.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;
}
.header, .footer {
  &__nav{
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  &__menu{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
}
  
  .menu {
  &__item{
    margin-right: 5px;
    height: 100%;
  }
  
  &__item:last-child{
    margin-right: 0;
  }
  
  &__link{
    display: block;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    line-height: 19px;
    transition: 0.2s;
    &:hover{
      background-color: $orange;
      color: #fff;
    }
  }
}

.copyright{
  border-top: 1px solid #EFEFEF;
  padding: 10px 0;
  &-text{
    font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;
  }
}