.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;

  &__burger{
    position: relative;

    display: none;
    width: 22px;
    height: 16px;

    @media screen and (max-width: 668px){
      display: block;
    }

    &-line{
      position: absolute;
      top: 7px;
      left: 0;

      width: 22px;
      height: 2px;

      background-color: #1A212F;
      border-radius: 1px;

      &:first-child{
        top: 0;
      }
      &:last-child{
        top: 15px;
      }
    }

  }
}
.header, .footer {
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  &__menu{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
}
  
  .menu {
  &__item{
    margin-right: 5px;
    height: 100%;
  }
  
  &__item:last-child{
    margin-right: 0;
  }
  
  &__link{
    display: block;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    line-height: 19px;
    transition: 0.2s;
    &:hover{
      background-color: $orange;
      color: #fff;
    }
  }
}

.copyright{
  border-top: 1px solid #EFEFEF;
  padding: 10px 0;
  &-text{
    font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;
  }
}