.button{
  width: 206px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  position: relative;
  transition: 0.3s;
  &:hover{
    transform: translateY(-5px);
   box-shadow: 0px 10px 50px rgba(26, 33, 47, 0.1);
  }
  &__text{
    position: absolute;
    top: 14px;
    left: 30px;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  &_white{
    background: url('../img/svg/paw-icon-white.svg') no-repeat;
    background-color: #fff;
    background-position: 163px center;
  }
  &_orange{
    background: url('../img/svg/paw-icon-orange.svg') no-repeat;
    background-color: #FF7236;
    background-position: 163px center;
    color: #FFFEFD;
  }
}