.rooms{
  margin-bottom: 140px;
  @media screen and (max-width: 768px){
    margin-bottom: 120px;
  }
  @media screen and (max-width: 480px){
    margin-bottom: 50px;
  }
  &-bg{
    left: 0;
    top: 10px;
  }
  &__title{
    text-align: center;
    margin-bottom: 70px;
  }
  &__slide{
    max-width: 1030px;
    width: 100%;
    flex: 0 0 100%;

    transform: translateY(0%);

    transition: .5s ease;
  }
}