.catalog{
  margin-top: 70px;
  margin-bottom: 140px;
  &__row-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__row-2{
    display: flex;
    justify-content: space-between;
  }
  &__filter{
    max-width: 210px;
    width: 100%;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__card-container{
    display: grid;
    max-width: 870px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__card{
    max-width: 270px;
    &-title{
      margin-left: 20px;
      margin-bottom: 20px;
    }
    &-img{
      max-width: 100%;
      margin-bottom: 20px;
    }
    &-text{
      font-size: 14px;
      line-height: 17px;
      margin-left: 20px;
      margin-bottom: 15px;
    }
  }
  &__button{
    display: block;
    margin: 35px 20px 25px;
  }
  &__equip-icon{
    margin-left: 8px;
    // &:first-child{
    //   margin-left: 12px;
    // }
    // &:last-child{
    //   margin-right: 0;
    // }
  }
}

.filter__section{
  margin-bottom: 35px;
}

.label{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.price{
  &-filter{
    display: flex;
    justify-content: space-between;
  }
  &-field{
    position: relative;
  }
  &-input{
    width: 100px;
    padding-left: 25px;
    border: 1px solid #E1E1E1;
  }
  &-label{
    position: absolute;
    left: 5px;
    z-index: 2;
    line-height: 20px;
  }
}
